#username {
    background-color: aqua;
}

#username:invalid {
    background-color: pink;
}

#username:valid {
    background-color: blueviolet;
}

#javascriptValidation {
    border-style: dotted;
    color: blueviolet;
    width: fit-content;
}

#requirements {
    margin-left: 4%;
}